<!DOCTYPE html>
<html>
    <head>
    <head>
    <body>
        <% if(user && user.id) { %>
            <%= user.fullName %>

        <% } %>
        <p>hi</p>
        <a href="/join">join</a>
        <a href="/login">login</a>
    </body>
</html>
